.about {
    position: absolute;
    top: 16px; right: 0; bottom: 0; left: 0;
    margin-top: 100px;
    color: rgb(12, 97, 77);
    text-align: center;
    background-color: bisque;
}
.about p, iframe {
    margin-top: 50px;
}