.c {
    color: blueviolet;
    margin-left: 22%;
}

.fejlec {
  margin-left: 22%;
}

.main_page_pic {
  margin-top: 100px;
  background-image: url("pic/main_page.jpg");
  height: 600px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.inputbox {
  padding: 0.5em 0 0.5em 1.5em;
  line-height: 1;
  width: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 0.5em;
  margin-bottom: 1em;
}

form {
  width: 40%;
}

.remember {
  display: flex;
  height: 30px;
  text-align: center;
}

.inputbox.ch {
  position: relative;
  top: 6px;
}