body {
    background-image: url('main_page.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
    background-color: orange;
}
.navbar {
    background-color: orange; 
    font-size: 1.3rem;
}
.login-page {
    background-color: orange;
}
.meal-deals-logo {
    transform: scale(0.50); 
    margin-right: 2px; 
}
.footer .navbar .container-fluid {
    font-size: 0.7rem;
}
.carousel-item img {
    height: 400px; 
    object-fit: cover; 
}
.carousel-control-prev,
.carousel-control-next {
    color: black; 
}